<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Kids Profiler</title>

	<!-- Bootstrap core CSS -->
	<link href="../../vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


	<!-- Custom styles for this template -->
	<link href="../../css/business-casual.css" rel="stylesheet">
	<link href="../../css/agency.min.css" rel="stylesheet">


</head>
<body>
	<div>

		<div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block js-scroll-trigger">Executive Profiler</div>


		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
			<div class="container2">
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav mx-auto">
						<a href="/home_admin" class="btn btn-info" role="button">Home</a>
						<a href="/praticien_list" class="btn btn-info" role="button">Dashboard</a>
						<a href="/param" class="btn btn-info" role="button">Parameter</a>
						<a href="/profil_admin" class="btn btn-info" role="button">Profil</a>
						<a href="/liste_membre_admin" class="btn btn-info" role="button">Member List</a>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>