<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Kids Profiler</title>

	<!-- Bootstrap core CSS -->
	<link href="../../vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js"></script>

	<!-- Custom styles for this template -->
	<link href="../../css/business-casual.css" rel="stylesheet">
	<link href="../../css/agency.min.css" rel="stylesheet">


</head>
<body>
	<div>

		<div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block js-scroll-trigger">Executive Profiler</div>


		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
			<div class="container2">
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav mx-auto">
						<a href="/home_admin" class="btn btn-info" role="button">Home</a>
						<a href="/praticien_list" class="btn btn-info" role="button">Dashboard</a>
						<a href="/param" class="btn btn-info" role="button">Parameter</a>
						<a href="/profil_admin" class="btn btn-info" role="button">Profil</a>
						<a href="/Logout" class="btn btn-info" role="button">Logout</a>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	    <script type="text/javascript">
		window.onload = function() {
	        var game = new Phaser.Game(1200, 900, Phaser.AUTO, '', { preload: preload, create: create });

	        /*function boot() {

	            game.scale.scaleMode = Phaser.ScaleManager.aspectRatio;
	            game.scale.pageAlignVertically = true;
	            game.scale.pageAlignHorizontally = true;
	            game.scale.setShowAll();
	            game.scale.refresh();

	        }*/

	        function preload () {

	            this.time.advacedTiming = true;
	            game.forceSingleUpdate = true;

	            game.load.json('conf', '../data/conf.json');
	            game.load.spritesheet('buttonContinue', '../img/BoutonContinuer.png', 150, 80);
	            game.load.image('hand', '../img/Hand.png', 200, 215);

	            //Images partie 1
	            game.load.image('background1', '../img/Choix1/Fond.png');
	            game.load.spritesheet('boutonScenario11', '../img/Choix1/Image1.png', 250, 150);
	            game.load.spritesheet('boutonScenario12', '../img/Choix1/Image2.png', 250, 150);

	            //Images partie 2 - Scénario Objet
	            game.load.image('backgroundO2', '../img/Choix2Objet/Fond.png');
	            game.load.spritesheet('buttonCO2', '../img/Choix2Objet/BoutonConcret.png', 150, 80);
	            game.load.spritesheet('buttonFO2', '../img/Choix2Objet/BoutonFormel.png', 150, 80);
	            game.load.spritesheet('buttonfO2', '../img/Choix2Objet/BoutonFlexible.png', 150, 80);
	            game.load.spritesheet('buttonAO2', '../img/Choix2Objet/BoutonAbstrait.png', 150, 80);

	            //Images partie 2 - Scénario Sujet
	            game.load.image('backgroundS2', '../img/Choix2Sujet/Fond.png');
	            game.load.spritesheet('buttonCS2', '../img/Choix2Sujet/BoutonConcret.png', 150, 80);
	            game.load.spritesheet('buttonFS2', '../img/Choix2Sujet/BoutonFormel.png', 150, 80);
	            game.load.spritesheet('buttonfS2', '../img/Choix2Sujet/BoutonFlexible.png', 150, 80);
	            game.load.spritesheet('buttonAS2', '../img/Choix2Sujet/BoutonAbstrait.png', 150, 80);

	            //Images partie 3
	            game.load.image('background3', '../img/Choix3/Fond.png');
	            game.load.video('video3', 'Videos/Transition1.webm');

	            //Images partie 4
	            game.load.image('background4', '../img/Choix4/Fond.png');
	            game.load.spritesheet('boutonScenario41', '../img/Choix4/Image1.png', 250, 150);
	            game.load.spritesheet('boutonScenario42', '../img/Choix4/Image2.png', 250, 150);

	            //Images partie 5 - Scénario Objet
	            game.load.image('backgroundO5', '../img/Choix5Objet/Fond.png');
	            game.load.spritesheet('buttonCO5', '../img/Choix5Objet/BoutonConcret.png', 150, 80);
	            game.load.spritesheet('buttonFO5', '../img/Choix5Objet/BoutonFormel.png', 150, 80);
	            game.load.spritesheet('buttonfO5', '../img/Choix5Objet/BoutonFlexible.png', 150, 80);
	            game.load.spritesheet('buttonAO5', '../img/Choix5Objet/BoutonAbstrait.png', 150, 80);

	            //Images partie 5 - Scénario Sujet
	            game.load.image('backgroundS5', '../img/Choix5Sujet/Fond.png');
	            game.load.spritesheet('buttonCS5', '../img/Choix5Sujet/BoutonConcret.png', 150, 80);
	            game.load.spritesheet('buttonFS5', '../img/Choix5Sujet/BoutonFormel.png', 150, 80);
	            game.load.spritesheet('buttonfS5', '../img/Choix5Sujet/BoutonFlexible.png', 150, 80);
	            game.load.spritesheet('buttonAS5', '../img/Choix5Sujet/BoutonAbstrait.png', 150, 80);

	            //Images partie 6
	            game.load.image('background6', '../img/Choix6/Fond.png');
	            //game.load.video('video6', 'Videos/Transition2.webm');

	            //Images partie 7
	            game.load.image('background7', '../img/Choix7/Fond.png');
	            game.load.spritesheet('boutonScenario71', '../img/Choix7/Image1.png', 250, 150);
	            game.load.spritesheet('boutonScenario72', '../img/Choix7/Image2.png', 250, 150);

	            //Images partie 8 - Scénario Objet
	            game.load.image('backgroundO8', '../img/Choix8Objet/Fond.png');
	            game.load.spritesheet('buttonCO8', '../img/Choix8Objet/BoutonConcret.png', 150, 80);
	            game.load.spritesheet('buttonFO8', '../img/Choix8Objet/BoutonFormel.png', 150, 80);
	            game.load.spritesheet('buttonfO8', '../img/Choix8Objet/BoutonFlexible.png', 150, 80);
	            game.load.spritesheet('buttonAO8', '../img/Choix8Objet/BoutonAbstrait.png', 150, 80);

	            //Images partie 8 - Scénario Sujet
	            game.load.image('backgroundS8', '../img/Choix8Sujet/Fond.png');
	            game.load.spritesheet('buttonCS8', '../img/Choix8Sujet/BoutonConcret.png', 150, 80);
	            game.load.spritesheet('buttonFS8', '../img/Choix8Sujet/BoutonFormel.png', 150, 80);
	            game.load.spritesheet('buttonfS8', '../img/Choix8Sujet/BoutonFlexible.png', 150, 80);
	            game.load.spritesheet('buttonAS8', '../img/Choix8Sujet/BoutonAbstrait.png', 150, 80);

	            //Images partie 9
	            game.load.image('background9', '../img/Choix9/Fond.png');
	            //game.load.video('video9', 'Videos/Transition3.webm');

	            //Images partie 10
	            game.load.image('background10', '../img/Choix10/Fond.png');
	            game.load.spritesheet('boutonScenario101', '../img/Choix10/Image1.png', 250, 150);
	            game.load.spritesheet('boutonScenario102', '../img/Choix10/Image2.png', 250, 150);

	            //Images partie 11 - Scénario Objet
	            game.load.image('backgroundO11', '../img/Choix11Objet/Fond.png');
	            game.load.spritesheet('buttonCO11', '../img/Choix11Objet/BoutonConcret.png', 150, 80);
	            game.load.spritesheet('buttonFO11', '../img/Choix11Objet/BoutonFormel.png', 150, 80);
	            game.load.spritesheet('buttonfO11', '../img/Choix11Objet/BoutonFlexible.png', 150, 80);
	            game.load.spritesheet('buttonAO11', '../img/Choix11Objet/BoutonAbstrait.png', 150, 80);

	            //Images partie 11 - Scénario Sujet
	            game.load.image('backgroundS11', '../img/Choix11Sujet/Fond.png');
	            game.load.spritesheet('buttonCS11', '../img/Choix11Sujet/BoutonConcret.png', 150, 80);
	            game.load.spritesheet('buttonFS11', '../img/Choix11Sujet/BoutonFormel.png', 150, 80);
	            game.load.spritesheet('buttonfS11', '../img/Choix11Sujet/BoutonFlexible.png', 150, 80);
	            game.load.spritesheet('buttonAS11', '../img/Choix11Sujet/BoutonAbstrait.png', 150, 80);

	            //Images partie 12
	            game.load.image('background12', '../img/Choix12/Fond.png');
	            //game.load.video('video12', 'Videos/Transition4.webm');

	            //Images partie 13
	            game.load.image('background13', '../img/Choix13/Fond.png');
	            game.load.spritesheet('boutonScenario131', '../img/Choix13/Image1.png', 250, 150);
	            game.load.spritesheet('boutonScenario132', '../img/Choix13/Image2.png', 250, 150);

	            //Images partie 14 - Scénario Objet
	            game.load.image('backgroundO14', '../img/Choix14Objet/Fond.png');
	            game.load.spritesheet('buttonCO14', '../img/Choix14Objet/BoutonConcret.png', 150, 80);
	            game.load.spritesheet('buttonFO14', '../img/Choix14Objet/BoutonFormel.png', 150, 80);
	            game.load.spritesheet('buttonfO14', '../img/Choix14Objet/BoutonFlexible.png', 150, 80);
	            game.load.spritesheet('buttonAO14', '../img/Choix14Objet/BoutonAbstrait.png', 150, 80);

	            //Images partie 14 - Scénario Sujet
	            game.load.image('backgroundS14', '../img/Choix14Sujet/Fond.png');
	            game.load.spritesheet('buttonCS14', '../img/Choix14Sujet/BoutonConcret.png', 150, 80);
	            game.load.spritesheet('buttonFS14', '../img/Choix14Sujet/BoutonFormel.png', 150, 80);
	            game.load.spritesheet('buttonfS14', '../img/Choix14Sujet/BoutonFlexible.png', 150, 80);
	            game.load.spritesheet('buttonAS14', '../img/Choix14Sujet/BoutonAbstrait.png', 150, 80);

	            //Images partie 15
	            game.load.image('background15', '../img/Choix15/Fond.png');
	            //game.load.video('video15', 'Videos/Transition5.webm');
	        }

	        var result = [];
	        var count = 0;
	        var state = 0;
	        var style = { font: "bold 32px Arial", fill: "#fff", BoundsAlignH: "center", BoundsAlignV: "middle" };
	        var text, text2;
	        var text3;
	        var text4;
	        var test = [0, 0];
	        var toggle = 0;
	        var hand;
	        var hand2;

			function create() {

                game.scale.scaleMode = Phaser.ScaleManager.SHOW_ALL;
                game.scale.pageAlignVertically = true;
                game.scale.pageAlignHorizontally = true;
                game.scale.setShowAll();
                game.scale.refresh();

                this.game.confData = JSON.parse(this.game.cache.getText('conf'));
                console.log(this.confData);

                var conf = game.cache.getJSON('conf');

                if (state == 0) { //Premier choix de scénario

                    var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'background1');
                    sky.anchor.setTo(0.5, 0.5);

                    var buttonScenario1 = game.add.button(conf.buttonScenario1.x, conf.buttonScenario1.y, 'boutonScenario11', actionOnClickScenario1);
                    buttonScenario1.input.useHandCursor = true;

                    var buttonScenario2 = game.add.button(conf.buttonScenario2.x, conf.buttonScenario2.y, 'boutonScenario12', actionOnClickScenario2);
                    buttonScenario2.input.useHandCursor = true;

                }


                else if (state == 1) { //Premier choix entre les objets

                    if (result[0] == 5) { //Scénario objet 2

                        var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'backgroundO2');

                        var buttonC = game.add.button(conf.button11.x, conf.button11.y, 'buttonCO2', actionOnClickC);
    					var buttonF = game.add.button(conf.button13.x, conf.button13.y, 'buttonFO2', actionOnClickF);
    					var buttonf = game.add.button(conf.button14.x, conf.button14.y, 'buttonfO2', actionOnClickf);
    					var buttonA = game.add.button(conf.button12.x, conf.button12.y, 'buttonAO2', actionOnClickA);
                    }

                    else { //Scénario sujet 2

                        var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'backgroundS2');

                        var buttonC = game.add.button(conf.button11.x, conf.button11.y, 'buttonCS2', actionOnClickC);
    					var buttonF = game.add.button(conf.button13.x, conf.button13.y, 'buttonFS2', actionOnClickF);
    					var buttonf = game.add.button(conf.button14.x, conf.button14.y, 'buttonfS2', actionOnClickf);
    					var buttonA = game.add.button(conf.button12.x, conf.button12.y, 'buttonAS2', actionOnClickA);
    				}

    				sky.anchor.setTo(0.5, 0.5);

    				buttonC.input.useHandCursor = true;
                    buttonF.input.useHandCursor = true;
                    buttonf.input.useHandCursor = true;
                	buttonA.input.useHandCursor = true;

                    hand = game.add.sprite(conf.hand.x1, conf.hand.y1, 'hand');
                    hand.anchor.setTo(0.5, 0.5);

                    var tween = game.add.tween(hand).to({ y: 150 }, 500, 'Linear', true, 0, -1);
                    tween.yoyo(true, 0);

                    hand2 = game.add.sprite(conf.hand.x2, conf.hand.y2, 'hand');
                    hand2.anchor.setTo(0.5, 0.5);
                    hand2.visible = false;

                    var tween2 = game.add.tween(hand2).to({ y: 150 }, 500, 'Linear', true, 0, -1);
                    tween2.yoyo(true, 0);
                }

                else if (state == 2) { //Transition 1

                    /*var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'background3');
                    sky.anchor.setTo(0.5, 0.5);

                    var ressourceArray = [conf.ressource1.a, conf.ressource1.b, conf.ressource1.c, conf.ressource1.d];

                    text = game.add.text(300, 150, "Tu as choisi ", style);
                    text.setTextBounds(0, 0, 1200, 900);
                    text2 = game.add.text(50, 220, ressourceArray[result[1] - 1] + " et " + ressourceArray[result[2] - 1], style);
                    text.setTextBounds(0, 0, 1200, 900);*/

                    var buttonContinue = game.add.button(conf.buttonContinue.x, conf.buttonContinue.y, 'buttonContinue', actionOnClickContinue);
                    buttonContinue.input.useHandCursor = true;

                    var video = game.add.video('video3');
                    var sprite = video.addToWorld(game.world.centerX, game.world.centerY, 0.5, 0.5, 2, 2);
                    video.play(false);



                }

                else if (state == 3) { //Second choix de scénario

                    var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'background4');
                    sky.anchor.setTo(0.5, 0.5);

                    var buttonScenario1 = game.add.button(conf.buttonScenario1.x, conf.buttonScenario1.y, 'boutonScenario41', actionOnClickScenario1);
                    buttonScenario1.input.useHandCursor = true;

                    var buttonScenario2 = game.add.button(conf.buttonScenario2.x, conf.buttonScenario2.y, 'boutonScenario42', actionOnClickScenario2);
                    buttonScenario2.input.useHandCursor = true;

                }

                else if (state == 4) { //Second choix entre les objets

                    if (result[3] == 5) { //Scénario objet 2

                        var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'backgroundO5');


                        var buttonC = game.add.button(conf.button11.x, conf.button11.y, 'buttonCO5', actionOnClickC);
    					var buttonF = game.add.button(conf.button13.x, conf.button13.y, 'buttonFO5', actionOnClickF);
    					var buttonf = game.add.button(conf.button14.x, conf.button14.y, 'buttonfO5', actionOnClickf);
    					var buttonA = game.add.button(conf.button12.x, conf.button12.y, 'buttonAO5', actionOnClickA);

                    }

                    else { //Scénario sujet 2

                        var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'backgroundS5');


                        var buttonC = game.add.button(conf.button11.x, conf.button11.y, 'buttonCS5', actionOnClickC);
    					var buttonF = game.add.button(conf.button13.x, conf.button13.y, 'buttonFS5', actionOnClickF);
    					var buttonf = game.add.button(conf.button14.x, conf.button14.y, 'buttonfS5', actionOnClickf);
    					var buttonA = game.add.button(conf.button12.x, conf.button12.y, 'buttonAS5', actionOnClickA);
    				}

    				sky.anchor.setTo(0.5, 0.5);

                    buttonC.input.useHandCursor = true;
                    buttonF.input.useHandCursor = true;
                    buttonf.input.useHandCursor = true;
                    buttonA.input.useHandCursor = true;

                    hand = game.add.sprite(conf.hand.x1, conf.hand.y1, 'hand');
                    hand.anchor.setTo(0.5, 0.5);

                    var tween = game.add.tween(hand).to({ y: 150 }, 500, 'Linear', true, 0, -1);
                    tween.yoyo(true, 0);

                    hand2 = game.add.sprite(conf.hand.x2, conf.hand.y2, 'hand');
                    hand2.anchor.setTo(0.5, 0.5);
                    hand2.visible = false;

                    var tween2 = game.add.tween(hand2).to({ y: 150 }, 500, 'Linear', true, 0, -1);
                    tween2.yoyo(true, 0);

                }

                else if (state == 5) { //Transition 2

                    /*var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'background6');
                    sky.anchor.setTo(0.5, 0.5);

                    var ressourceArray = [conf.ressource2.a, conf.ressource2.b, conf.ressource2.c, conf.ressource2.d];

                    text = game.add.text(300, 150, "Tu as choisi ", style);
                    text.setTextBounds(0, 0, 1200, 900);
                    text2 = game.add.text(50, 220, ressourceArray[result[4] - 1] + " et " + ressourceArray[result[5] - 1], style);
                    text.setTextBounds(0, 0, 1200, 900);*/

                    /*var video = game.add.video('video6');
                    var sprite = video.addToWorld(game.world.centerX, game.world.centerY, 0.5, 0.5, 2, 2);
                    video.play(false);*/

                    var buttonContinue = game.add.button(conf.buttonContinue.x, conf.buttonContinue.y, 'buttonContinue', actionOnClickContinue);
                    buttonContinue.input.useHandCursor = true;

                }

                else if (state == 6) { //Troisième choix de scénario

                    var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'background7');
                    sky.anchor.setTo(0.5, 0.5);

                    var buttonScenario1 = game.add.button(conf.buttonScenario1.x, conf.buttonScenario1.y, 'boutonScenario71', actionOnClickScenario1);
                    buttonScenario1.input.useHandCursor = true;

                    var buttonScenario2 = game.add.button(conf.buttonScenario2.x, conf.buttonScenario2.y, 'boutonScenario72', actionOnClickScenario2);
                    buttonScenario2.input.useHandCursor = true;
                }

                else if (state == 7) { //Troisième choix entre les objets

                    if (result[6] == 5) { //Scénario objet 2

                        var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'backgroundO8');

                        var buttonC = game.add.button(conf.button11.x, conf.button11.y, 'buttonCO8', actionOnClickC);
    					var buttonF = game.add.button(conf.button13.x, conf.button13.y, 'buttonFO8', actionOnClickF);
    					var buttonf = game.add.button(conf.button14.x, conf.button14.y, 'buttonfO8', actionOnClickf);
    					var buttonA = game.add.button(conf.button12.x, conf.button12.y, 'buttonAO8', actionOnClickA);
                    }

                    else { //Scénario sujet 2

                        var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'backgroundS8');

                        var buttonC = game.add.button(conf.button11.x, conf.button11.y, 'buttonCS8', actionOnClickC);
    					var buttonF = game.add.button(conf.button13.x, conf.button13.y, 'buttonFS8', actionOnClickF);
    					var buttonf = game.add.button(conf.button14.x, conf.button14.y, 'buttonfS8', actionOnClickf);
    					var buttonA = game.add.button(conf.button12.x, conf.button12.y, 'buttonAS8', actionOnClickA);
    				}
    				sky.anchor.setTo(0.5, 0.5);

                    buttonC.input.useHandCursor = true;
                    buttonF.input.useHandCursor = true;
                    buttonf.input.useHandCursor = true;
                    buttonA.input.useHandCursor = true;

                    hand = game.add.sprite(conf.hand.x1, conf.hand.y1, 'hand');
                    hand.anchor.setTo(0.5, 0.5);

                    var tween = game.add.tween(hand).to({ y: 150 }, 500, 'Linear', true, 0, -1);
                    tween.yoyo(true, 0);

                    hand2 = game.add.sprite(conf.hand.x2, conf.hand.y2, 'hand');
                    hand2.anchor.setTo(0.5, 0.5);
                    hand2.visible = false;

                    var tween2 = game.add.tween(hand2).to({ y: 150 }, 500, 'Linear', true, 0, -1);
                    tween2.yoyo(true, 0);
                }

                else if (state == 8) { //Transition 3

                    /*var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'background9');
                    sky.anchor.setTo(0.5, 0.5);

                    var ressourceArray = [conf.ressource3.a, conf.ressource3.b, conf.ressource3.c, conf.ressource3.d];

                    text = game.add.text(300, 150, "Tu as choisi ", style);
                    text.setTextBounds(0, 0, 1200, 900);
                    text2 = game.add.text(50, 220, ressourceArray[result[7] - 1] + " et " + ressourceArray[result[8] - 1], style);
                    text.setTextBounds(0, 0, 1200, 900);*/

                    /*var video = game.add.video('video9');
                    var sprite = video.addToWorld(game.world.centerX, game.world.centerY, 0.5, 0.5, 2, 2);
                    video.play(false);*/

                    var buttonContinue = game.add.button(conf.buttonContinue.x, conf.buttonContinue.y, 'buttonContinue', actionOnClickContinue);
                    buttonContinue.input.useHandCursor = true;

                }

                else if (state == 9) { //Quatrième choix de scénario

                    var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'background10');
                    sky.anchor.setTo(0.5, 0.5);

                    var buttonScenario1 = game.add.button(conf.buttonScenario1.x, conf.buttonScenario1.y, 'boutonScenario101', actionOnClickScenario1);
                    buttonScenario1.input.useHandCursor = true;

                    var buttonScenario2 = game.add.button(conf.buttonScenario2.x, conf.buttonScenario2.y, 'boutonScenario102', actionOnClickScenario2);
                    buttonScenario2.input.useHandCursor = true;

                }

                else if (state == 10) { //Quatrième choix entre les objets

                    if (result[9] == 5) { //Scénario objet 2

                        var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'backgroundO11');

                        var buttonC = game.add.button(conf.button11.x, conf.button11.y, 'buttonCO11', actionOnClickC);
    					var buttonF = game.add.button(conf.button13.x, conf.button13.y, 'buttonFO11', actionOnClickF);
    					var buttonf = game.add.button(conf.button14.x, conf.button14.y, 'buttonfO11', actionOnClickf);
    					var buttonA = game.add.button(conf.button12.x, conf.button12.y, 'buttonAO11', actionOnClickA);
                    }

                    else { //Scénario sujet 2

                        var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'backgroundS11');

                        var buttonC = game.add.button(conf.button11.x, conf.button11.y, 'buttonCS11', actionOnClickC);
    					var buttonF = game.add.button(conf.button13.x, conf.button13.y, 'buttonFS11', actionOnClickF);
    					var buttonf = game.add.button(conf.button14.x, conf.button14.y, 'buttonfS11', actionOnClickf);
    					var buttonA = game.add.button(conf.button12.x, conf.button12.y, 'buttonAS11', actionOnClickA);
    				}

    				sky.anchor.setTo(0.5, 0.5);

                    buttonC.input.useHandCursor = true;
                    buttonF.input.useHandCursor = true;
                    buttonf.input.useHandCursor = true;
                    buttonA.input.useHandCursor = true;

                    hand = game.add.sprite(conf.hand.x1, conf.hand.y1, 'hand');
                    hand.anchor.setTo(0.5, 0.5);

                    var tween = game.add.tween(hand).to({ y: 150 }, 500, 'Linear', true, 0, -1);
                    tween.yoyo(true, 0);

                    hand2 = game.add.sprite(conf.hand.x2, conf.hand.y2, 'hand');
                    hand2.anchor.setTo(0.5, 0.5);
                    hand2.visible = false;

                    var tween2 = game.add.tween(hand2).to({ y: 150 }, 500, 'Linear', true, 0, -1);
                    tween2.yoyo(true, 0);
                }

                else if (state == 11) { //Transition 4

                    /*var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'background12');
                    sky.anchor.setTo(0.5, 0.5);

                    var ressourceArray = [conf.ressource4.a, conf.ressource4.b, conf.ressource4.c, conf.ressource4.d];

                    text = game.add.text(300, 150, "Tu as choisi ", style);
                    text.setTextBounds(0, 0, 1200, 900);
                    text2 = game.add.text(50, 220, ressourceArray[result[10] - 1] + " et " + ressourceArray[result[11] - 1], style);
                    text.setTextBounds(0, 0, 1200, 900);*/

                    /*var video = game.add.video('video12');
                    var sprite = video.addToWorld(game.world.centerX, game.world.centerY, 0.5, 0.5, 2, 2);
                    video.play(false);*/

                    var buttonContinue = game.add.button(conf.buttonContinue.x, conf.buttonContinue.y, 'buttonContinue', actionOnClickContinue);
                    buttonContinue.input.useHandCursor = true;

                }

                else if (state == 12) { //Cinquième choix de scénario

                    var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'background13');
                    sky.anchor.setTo(0.5, 0.5);

                    var buttonScenario1 = game.add.button(conf.buttonScenario1.x, conf.buttonScenario1.y, 'boutonScenario131', actionOnClickScenario1);
                    buttonScenario1.input.useHandCursor = true;

                    var buttonScenario2 = game.add.button(conf.buttonScenario2.x, conf.buttonScenario2.y, 'boutonScenario132', actionOnClickScenario2);
                    buttonScenario2.input.useHandCursor = true;

                }

                else if (state == 13) { //Cinquième choix entre les objets

                    if (result[12] == 5) { //Scénario objet 2

                        var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'backgroundO14');

                        var buttonC = game.add.button(conf.button11.x, conf.button11.y, 'buttonCO14', actionOnClickC);
    					var buttonF = game.add.button(conf.button13.x, conf.button13.y, 'buttonFO14', actionOnClickF);
    					var buttonf = game.add.button(conf.button14.x, conf.button14.y, 'buttonfO14', actionOnClickf);
    					var buttonA = game.add.button(conf.button12.x, conf.button12.y, 'buttonAO14', actionOnClickA);
                    }

                    else { //Scénario sujet 2

                        var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'backgroundS14');

                        var buttonC = game.add.button(conf.button11.x, conf.button11.y, 'buttonCS14', actionOnClickC);
    					var buttonF = game.add.button(conf.button13.x, conf.button13.y, 'buttonFS14', actionOnClickF);
    					var buttonf = game.add.button(conf.button14.x, conf.button14.y, 'buttonfS14', actionOnClickf);
    					var buttonA = game.add.button(conf.button12.x, conf.button12.y, 'buttonAS14', actionOnClickA);
    				}

    				sky.anchor.setTo(0.5, 0.5);

                    buttonC.input.useHandCursor = true;
                    buttonF.input.useHandCursor = true;
                    buttonf.input.useHandCursor = true;
                    buttonA.input.useHandCursor = true;

                    hand = game.add.sprite(conf.hand.x1, conf.hand.y1, 'hand');
                    hand.anchor.setTo(0.5, 0.5);

                    var tween = game.add.tween(hand).to({ y: 150 }, 500, 'Linear', true, 0, -1);
                    tween.yoyo(true, 0);

                    hand2 = game.add.sprite(conf.hand.x2, conf.hand.y2, 'hand');
                    hand2.anchor.setTo(0.5, 0.5);
                    hand2.visible = false;

                    var tween2 = game.add.tween(hand2).to({ y: 150 }, 500, 'Linear', true, 0, -1);
                    tween2.yoyo(true, 0);
                }

                else if (state == 14) { //Transition 5

                    var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'background15');
                    sky.anchor.setTo(0.5, 0.5);

                    var ressourceArray = [conf.ressource5.a, conf.ressource5.b, conf.ressource5.c, conf.ressource5.d];

                    text = game.add.text(300, 150, "Tu as choisi ", style);
                    text.setTextBounds(0, 0, 1200, 900);
                    text2 = game.add.text(50, 220, ressourceArray[result[13] - 1] + " et " + ressourceArray[result[14] - 1], style);
                    text2.setTextBounds(0, 0, 1200, 900);

                    var buttonContinue = game.add.button(conf.buttonContinue.x, conf.buttonContinue.y, 'buttonContinue', actionOnClickContinue);
                    buttonContinue.input.useHandCursor = true;

                }

                else {

                    /*var sky = game.add.sprite(game.world.centerX, game.world.centerY, 'background15');
                    sky.anchor.setTo(0.5, 0.5);

                    text = game.add.text(220, 150, "Félicitations, tu as gagné !")*/

                    /*var video = game.add.video('video15');
                    var sprite = video.addToWorld(game.world.centerX, game.world.centerY, 0.5, 0.5, 2, 2);
                    video.play(false);*/

                    var buttonContinue = game.add.button(conf.buttonContinue.x, conf.buttonContinue.y, 'buttonContinue', actionOnClickContinue2);
                    buttonContinue.input.useHandCursor = true;

                }

            }

            function actionOnClickScenario1() {

                result.push(5);
                count += 1;
                state += 1;
                game.state.restart();

            }

            function actionOnClickScenario2() {

                result.push(6);
                count += 1;
                state += 1;
                game.state.restart();

            }

            function actionOnClickC() {

                if (test[0] == 0) {

                    result.push(1);
                    test[0] = 1;
                    hand.visible = false;
                    hand2.visible = true;
                    //image1 = game.add.sprite(conf.objets.x1, conf.objets.y1,'buttonC');

                }

            }

            function actionOnClickA() {

                if (test[0] == 0) {

                    result.push(2);
                    test[0] = 1;
                    hand.visible = false;
                    hand2.visible = true;

                }
            }

            function actionOnClickF() {

                if (test[0] == 1) {

                    result.push(3);
                    test[0] = 0;
                    test[1] = 0;
                    hand2.visible = false;
                    state += 1;
                    hand.visible = true;
                    game.state.restart();

                }
            }

            function actionOnClickf() {

                if (test[0] == 1) {

                    result.push(4);
                    test[0] = 0;
                    test[1] = 0;
                    hand2.visible = false;
                    state += 1;
                    hand.visible = true;
                    game.state.restart();

                }
            }

            function actionOnClickContinue() {

                state += 1;
                game.state.restart();

            }

            function actionOnClickContinue2() {

                var string = ["Concret", "Abstrait", "Formel", "Flexible", "Objet", "Sujet"];

                alert("Résultats : \n" + string[result[0] - 1] + " " + string[result[1] - 1] + " " + string[result[2] - 1] + "\n" + string[result[3] - 1] + " " + string[result[4] - 1] + " " + string[result[5] - 1] + "\n" + string[result[6] - 1] + " " + string[result[7] - 1] + " " + string[result[8] - 1] + "\n" + string[result[9] - 1] + " " + string[result[10] - 1] + " " + string[result[11] - 1] + "\n" + string[result[12] - 1] + " " + string[result[13] - 1] + " " + string[result[14] - 1]);

            }

            function update() {

                game.scale.setShowAll();
                game.scale.refresh();

            }

        };

        </script>
    </body>
    </html>
