<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Kid Profiler</title>

	<!-- Bootstrap core CSS -->
	<link href="../../vendor/twbs/bootstrap/css/bootstrap.min.css" rel="stylesheet">


	<!-- Custom styles for this template -->
	<link href="../../css/business-casual.css" rel="stylesheet">
	<link href="../../css/agency.min.css" rel="stylesheet">


</head>
<body>
	<div class="fixed-top">

		<div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block js-scroll-trigger">Executive Profiler</div>


		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav mx-auto">
						<form method="GET" action="/home">
						  <input type="hidden" name="user" value="user-account"/>
						  <input type="hidden" name="permission" value="permission"/>
						  <input type="submit" value="Home"/>
						</form>
						<form method="GET" action="/quizz">
						  <input type="hidden" name="user" value="user-account"/>
						  <input type="hidden" name="permission" value="permission"/>
						  <input type="submit" value="Quizz"/>
						</form>
						<form method="GET" action="/profil">
						  <input type="hidden" name="user" value="user-account"/>
						  <input type="hidden" name="permission" value="permission"/>
						  <input type="submit" value="profil"/>
						</form>
						<form method="GET" action="/liste_membre">
						  <input type="hidden" name="user" value="user-account"/>
						  <input type="hidden" name="permission" value="permission"/>
						  <input type="submit" value="membre liste"/>
						</form>
						<form method="GET" action="/personality">
							<input type="hidden" name="user" value="user-account"/>
							<input type="hidden" name="permission" value="permission"/>
						  <input type="submit" value="Personality"/>
						</form>
						<form method="GET" action="/logout">
						  <input type="hidden" name="user" value="user-account"/>
						  <input type="hidden" name="permission" value="permission"/>
						  <input type="submit" value="Login"/>
						</form>
						<form method="GET" action="/contact">
						  <input type="hidden" name="user" value="user-account"/>
						  <input type="hidden" name="permission" value="permission"/>
						  <input type="submit" value="Contact"/>
						</form>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>
