<!DOCTYPE html>
<html>
<head>
	<title>Tutorial page</title>
</head>
<body>
	<section id="quizz">
		<div class="container">
				<div class="col-lg-12">
					<div class="row">
						<div class="clearfix"></div>
						<div class="col-md-6 text-center">

							<input type="patient" id="inputPatientName" name="Patient" class="form-control" placeholder="Patient"  required data-validation-required-message="entrez le nom de votre patient.">
							<button type="submit" id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Start</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
