<!DOCTYPE html>
<include href="header.htm" />
<body>

	<div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block js-scroll-trigger">Executive Profiler</div>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
		<div class="container2">
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav mx-auto">
					<a href="/" class="btn btn-info" role="button">Home</a>
					<a href="/personality-free" class="btn btn-info" role="button">Personality</a>
					<a href="/Login" class="btn btn-info" role="button">Login</a>
					<a href="/get-contact" class="btn btn-info" role="button">Contact</a>
				</ul>
			</div>
		</div>
	</nav>
	<div>
		<br></br><br></br><br></br>
	</div>
</body>
</html>
